"# Git에서 무시할 파일 및 디렉토리 목록" 
"$RECYCLE.BIN/" 
"System Volume Information/" 
"20225172.zip" 
"20225172/" 
"AndroidHub/" 
"Program Files/" 
"UnityHub/" 
"cpp/" 
"git/" 
"htmlHub/" 
"javahub/" 
"python/" 
"rHub/" 
